
nav {
  font-size: 1rem;
}
nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}
nav ul li {
  padding: 0.5rem;
  
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.about{
    display:block;
}
main.about h2{
    text-align: center;
}
main ul{
    list-style-position: inside;
}
main h2 {
  color: blueviolet;
}
main h3 {
  color: darkgoldenrod;
}
main ol{
    counter-reset: section; 
}
 main ol li span:before{
    counter-increment: section;            
    content: counters(section, ".") " ";
} 
main ol li {    
   display: flex;
   flex-direction: column;
   align-items: center;
    
}
